@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}

#container {
  height: 999px;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

/* Header */
#header {
  text-align: center;
  background-color: darkcyan;
  padding: 10px 0px 15px 0px;
  color: whitesmoke;
}
#header > h1 {
  letter-spacing: 3px;
  margin-bottom: 10px;
  font-size: 50px;
}

/* Game */
#game {
  display: flow-root;
  text-align: center;
}

img {
  height: 300px;
  width: 240px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 100ms ease-out;
  margin: 8px;
  box-shadow: -2px 3px 2px gray;
}
img:hover {
  transform: scale(1.01);
}

/* Footer */
#footer {
  padding: 10px 10px;
  background-color: royalblue;
  color: whitesmoke;
  font-weight: bold;
}
